/* src/Sidebar.css */
.sidebar {
    background-color: #8c3d3d;
    color: white;
    height: 100vh;
    width: 200px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .sidebar-header {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-menu li {
    padding: 15px;
    display: flex;
    align-items: center;
  }
  
  .sidebar-menu li:hover {
    background-color: #6f2b2b;
    cursor: pointer;
  }
  
  .sidebar-menu li svg {
    margin-right: 10px;
  }
  
  .sidebar-logout {
    padding: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .sidebar-logout:hover {
    background-color: #6f2b2b;
  }
  